{% extends "base.html." %}

{% block content  %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">To-Do App</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A eligendi nostrum alias? Ullam corrupti minima vitae rem in minus numquam tenetur, facilis quibusdam iusto dolores? Accusamus distinctio voluptatum dolores, qui laboriosam corporis, placeat iure at ut, reprehenderit tempore nobis magni perferendis. Maiores veniam voluptatem, illum facilis quia temporibus cum nesciunt assumenda? Nemo, architecto obcaecati. Dolor quidem soluta minima corporis corrupti quo est consequatur praesentium, eveniet perspiciatis quia autem velit possimus porro dicta explicabo, mollitia laborum obcaecati eos. Aut est modi accusantium. Omnis alias veniam, dolores recusandae voluptates debitis molestiae reprehenderit!</p>

        {% if user.is_authenticated == False %}
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Ingresar
            </a>
            <a class="btn btn-dark" href="/signup/">
                Registrarse
            </a>
        </div>
        {% endif %}
    </section>
</main>
{% endblock  %}